<div class="mb-5">
<% if user_signed_in? %>
<div class="text-center col-12 col-md-10 col-lg-8 mx-auto">
  <h2><%= t('db_t_srcs') %></h2>
  <p><%= t('db_d_srcs') %></p>
</div>
<div class="container">
  <div class="form-row">
    <div class="col-md-4">
      <!-- Filter -->
      <%= @filter_msg.html_safe %>
    </div>
    <div class="col-md-4">
      <!-- Sort -->
      <%= @sort_msg.html_safe %>
    </div>
    <div class="col-md-4">
      <!-- Search -->
      <div class="row">
        <div class="col-12">
          <label>Search</label>
          <%= form_tag(srcs_path, method: :get, class: "form-inline") do %>
          <%= text_field_tag :q, params[:q], class: 'form-control'  %>
          <%= submit_tag t('search'), name: nil, :class => 'btn btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center p2">
  <%= link_to t('add')+" "+t('or')+" "+t('import')+" "+t('src').capitalize, new_src_path,:class=>'btn btn btn-secondary',:style=>'' %>
</div>
<hr>
<% @srcs.each do |src| %>
<!-- <%= react_component("Post", {title: src.name}) %> -->
<!-- Src Card -->
<div class="container">
  <div class="row">
    <div class="offset-1" style="width:900px">
      <p class="uppercase m-0" style="font-size: 10px">
      <% if src.user_id == current_user.id || current_user.role=="admin"
        dependent_reviews=SrcReview.where("src_id = ?",src.id).count("id")
        if (dependent_reviews>0)
          warning_msg= t('warning_del_dependents', count:dependent_reviews)+".\n"
          warning_msg=warning_msg+t('warning_msg2',type: t('the_src'))
        else
          warning_msg=t('warning_msg1',type: t('the_src'))
        end
      %>
     <% end %> </p>

      <h4 class="mt-0 no-link-style"><%= link_to src.name, src_path(src) %></h4><small>
      <%= t('added_by') %>: <%= User.find(src.user_id).name %> -
      <%= t('created_at') %>: <%= src.created_at %> -
      <%= t('updated_at') %>: <%= src.updated_at %> -
      <% if src.user_id == current_user.id || current_user.role=="admin" %>
        <%= link_to t('edit'), edit_src_path(src) %> -
        <%= link_to t('delete'), src_path(src), method: :delete, data: { confirm: warning_msg } %> -
      <% end %>
      <%= link_to t('export'), export_src_path(src), method: :post %></small><br>
      <div class="mt-2">
      <%

      @my_review = SrcReview.where("src_id=? AND user_id=?",src.id,current_user.id).first
      @rev_menu=""
      if (@my_review.blank?) then @revtype ="Add" else @revtype ="Edit"
      end %>
      </div>
      <div class="mt-2">
        <%
      @result2="<table><tr>"
      @reviews = SrcReview.where("src_id=? AND ((src_review_sharing_mode=1 AND src_review_verdict IS NOT NULL) OR user_id=?)",src.id,current_user.id)
      @last_review_time=''
      if (@reviews.blank?) then @total_reviews=0; @results2=""
      else
        @total_reviews=@reviews.size
        assessments={"1"=>t('rate_totally_untrustworthy'),"2"=>t('rate_mostly_untrustworthy'),"3"=>t('rate_mixed'),"4"=>t('rate_mostly_trustworthy'),"5"=>t('rate_totally_trustworthy'),"0"=>t('rate_no_decision')}
        assessments2={"1"=>0,"2"=>0,"3"=>0,"4"=>0,"5"=>0,"0"=>0}
        @reviews.each do |rev|
          if rev.src_review_verdict.present? then
              if (@last_review_time.blank?) then @last_review_time=rev.updated_at
              elsif (rev.updated_at>@last_review_time) then @last_review_time=rev.updated_at
              end
              assessments2[rev.src_review_verdict.to_s]=assessments2[rev.src_review_verdict.to_s]+1
              @result2=@result2+"<td><a href='"+src_src_review_path(src.id,rev.id)+"' target=_blank><img src='"+config.relative_url_root.to_s+"/"+rev.src_review_verdict.to_s+".png' height=30 alt='"+assessments[rev.src_review_verdict.to_s].to_s+"' title='"+assessments[rev.src_review_verdict.to_s].to_s+"'></a></td>"
            end
        end
        result1=""
        assessments.each do |key, value|
            if assessments2[key]>0
              result1= result1+" "+value+" – "+assessments2[key].to_s
            end
        end
      end %>
    <small>
        <% if (@total_reviews>0) %>
          <% if !result1.empty? %>
            <%= result1 %>
            <% if (@total_reviews>1) %>
              <%= link_to "(" + t('show_reviews', reviews: @total_reviews), src_src_reviews_path(src.id) %> |
            <% else %>
              <%= link_to "(" + t('show_review'),src_src_reviews_path(src.id) %> |
            <% end %>
            <% if @revtype == "Add" %>
                <%= link_to t('add_review'), src_src_reviews_path(src.id), method: :create %> )
            <% else %>
                <%= link_to t('edit_review'), src_src_reviews_path(src.id), method: :create %> |
                <%= link_to t('del_review'), src_src_review_path(src.id,@my_review), method: :delete, data: { confirm: t('confirm_del_q')} %> )
            <% end %>
          <% else %>
            ( <%= link_to t('edit_review'), src_src_reviews_path(src.id), method: :create %> |
            <%= link_to t('del_review'), src_src_review_path(src.id,@my_review), method: :delete, data: { confirm: t('confirm_del_q')} %> )
          <% end %>
        <% else %>
            <div  style='float:right'><%= link_to t('add_review'), src_src_reviews_path(src.id), method: :create %></div><br>
        <% end %>
    </small>
      </div>

      <!-- URL PREVIEW -->

    <div>
   <%
    if !src.url_preview.present?
      url_prev='<div id="final_url_preview" class="fragment">'
      url_prev=url_prev+'<div style="text-align: left"><img src="'+config.relative_url_root.to_s+'/assets/src.png" id="cimg" height=75 />'
      if (!src.url.blank?) then url=src.url; else url=src_path(src); end
      if (!src.description.blank?) then description=src.description; else description=""; end
      url_prev=url_prev+"\n<h4><a href=\""+url+"\">"+src.name+"</a></h4><br><p class=\"text\">"+description+"</p><br></div></div>"
  else
    url_prev=src.url_preview.delete('\\\\"')
  end
  if @total_reviews>0 then
           url_prev=url_prev.gsub('\"','"').gsub("\\'", "'")
           url_prev=url_prev.sub("</h4>","<div style='float: right'>"+@result2+"</td></tr></table></div></h4>")
  else
           url_prev=url_prev.gsub('\"','"').gsub("\\'", "'")
  end %>
 <%== url_prev %>

  </div>

    </div>
    <!-- For the future, could preview srcs or type here
    <div class="col-2">
      <div class="srcs">
        <img style="border-radius:100%" src="https://via.placeholder.com/80" class="mr-3 mt-4" alt="...">
      </div> -->

  </div>
  <hr>
</div>
<% end %>
<div class="container">
  <% if @total_count>10 then %> <%== pagy_bootstrap_nav(@pagy) %> <% end %>
</div>
<% else %>
  <%= t('go_sign_in_part1') %> <b><%= link_to t('sign_in'), new_user_session_path %></b>.
  <br>
  <br>
  <%= t('go_sign_up_part1') %> <b><%= link_to t('sign_up'), new_user_registration_path %></b>.
<% end %>
</div>
