<div class="container">
<h3><%= t('sign_up').capitalize %></h3>
<hr>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email,
                required: true,
                label: t('devise.account.email'),
                hint: t('devise.account.email_h'),
                autofocus: true ,
                input_html: { autocomplete: "email", :style=> 'width: 400px' }%>
    <%= f.input :name,
                label: t('devise.account.name'),
                required: true,
                hint: t('devise.account.name_h'),
                autofocus: true ,
                input_html: { autocomplete: "name", :style=> 'width: 400px' }%>
    <%= f.input :url,
                label: t('devise.account.url'),
                required: false,
                hint: t('devise.account.url_h'),
                autofocus: true,
                input_html: { autocomplete: "url", :style=> 'width: 400px' } %>
    <%= f.input :details,
                label: t('devise.account.details'),
                required: false,
                hint: t('devise.account.details_h'),
                autofocus: true,
                input_html: { autocomplete: "details", :style=> 'width: 400px' } %>
    <%= f.input :affiliation,
                label: t('devise.account.affiliation'),
                required: false,
                hint: t('devise.account.affiliation_h'),
                input_html: { data: {autocomplete_source: affiliations_path }, :style=> 'width: 400px' },
                autofocus: true %>
    <%= f.input :password,
                label: t('devise.account.new_pw'),
                hint: t('devise.account.new_pw_h'),
                required: true,
                input_html: { autocomplete: "new-password", :style=> 'width: 200px' } %>
    <%= f.input :password_confirmation,
                label: t('devise.account.repeat_pw'),
                hint: t('devise.account.repeat_pw_h'),
                required: true,
                input_html: { autocomplete: "new-password", :style=> 'width: 200px' } %>

  <div class="form-claim">
    <%= f.button :submit, t('sign_up') %>
  </div>
<% end %>
</div>
