<div class="text-center mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h1><%= t('claim_t') %></h1>
    <p><%= t('claim_d') %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <% if params[:blockchain_resp].present?
            if params[:blockchain_resp]=="-1" %>
              <font color=red><%= t('added_to_blockchain_failed',error: params[:error]) %></font>
            <% end %>
      <% end %>
      <% if params[:import_err].present? %>
        <center><font color="red"><%== t('invalid_json') %></font></center><br>
      <% end %>
      <fieldset>
        <div class="form-claim">
          <%= form_for @claim, :html => { :onsubmit => "do_submit('claim')" } do |f| %>
            <% if f.object.errors.any? %>
            <div class="alert alert-warning">
              <% f.object.errors.full_messages.each do |error| %>
                <p class="m-0"><%= error %></p>
              <% end %>
            </div>
            <% end %>
            <ul>
            <li><label><%= t('give_claim_title') %></label>
              <%= f.text_field :title, class: 'form-control', :autocomplete=>"off" %>
            </li>
            <li>
              <label><%= t('claim_url') %></label>
              <%= f.text_field :url, :onchange => "URLPreview('"+config.relative_url_root.to_s+"','claim')", class: 'form-control', :autocomplete=>"off" %>
              <i><small><%= t('claim_url_note') %></small></i>
            </li>
            <div id="url_preview_block"></div>
            <%= f.hidden_field :url_preview %>

            <li>
              <label class="mt-3 mb-2"><%= t('image_claim') %></label>
              &nbsp;&nbsp;<b><%= f.radio_button :has_image, '1', :checked => @claim.has_image==1 %>
                <%= t('yes_answer') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_image, '-1', :checked => @claim.has_image==-1 %> <%= t('no_answer') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_image, '0', :checked => (@claim.has_image==0 || @claim.has_image.nil?) %>
                <%= t('not_sure') %>/ <%= t('skip_question') %></b>
            </li>
            <li>
              <label class="mt-3 mb-2">
                <%= t('video_claim') %> </label>
              &nbsp;&nbsp;<b><%= f.radio_button :has_video, '1', :checked => @claim.has_video==1 %>
                <%= t('yes_answer') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_video, '-1', :checked => @claim.has_video==-1 %> <%= t('no_answer') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_video, '0', :checked => (@claim.has_video==0 || @claim.has_video.nil?) %>
                <%= t('not_sure') %>/ <%= t('skip_question') %></b>
            </li>
            <li>
              <label class="mt-3 mb-2"><%= t('text_claim') %> </label>
              &nbsp;&nbsp;<b><%= f.radio_button :has_text, '1', :checked => (@claim.has_text==1|| @claim.has_text.nil?) %>
                <%= t('yes_answer') %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_text, '-1', :checked => @claim.has_text==-1 %> <%= t('no_answer') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :has_text, '0', :checked => @claim.has_text==0  %> <%= t('not_sure') %>/
                <%= t('skip_question') %></b>
            </li>
            <li><br>
              <label class="mt-3 mb-2">
                <%= t('share_claim') %></label>
              &nbsp;&nbsp;<b><%= f.radio_button :sharing_mode, '1', :checked => @claim.sharing_mode==1 || @claim.sharing_mode.nil? %>
                <%= t('yes_share') %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :sharing_mode, '-1', :checked => @claim.sharing_mode==-1 %> <%= t('no_share') %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </li>
            <% if !ENV['BLOCKCHAIN_ENABLED'] %>
              <li>
                  <br><b><%= f.check_box :start_review, :checked => !ENV['BLOCKCHAIN_ENABLED'] %> <%= t('start_review') %></b><br>
              </li>
            <% end %>
      <% if (current_user.role=="client" && ENV["BLOCKCHAIN_ENABLED"] && current_user.blockchain_tx.present?) %>
                <li class="mt-4">
                  <p style="display:none"><%= f.check_box :add_to_blockchain, :checked => true %> <%= t('save_to_blockchain') %></p>
                  <small><a href=javascript:wallet("<%= config.relative_url_root.to_s %>","<%= config.relative_url_root.to_s+"/admin/users/"+current_user.id.to_s %>","<%= current_user.id.to_s %>","0")><%= t('show_wallet_balance') %></a><br>
                    <div id="wallet<%= current_user.id.to_s %>"></div>
                    <div id="hidden<%= current_user.id.to_s %>" style="display: none;">
                      <% if ENV['BLOCKCHAIN_ENABLED'] && current_user.role=="client"  %>
                        <br><%= t('add_to_wallet') %>: <input id="addbalance<%= current_user.id.to_s %>" type="text" style="width: 50px;">
                        <button name="walletButton" type="button" value="Add" onclick=wallet("<%= config.relative_url_root.to_s %>","<%= config.relative_url_root.to_s+"/admin/users/"+current_user.id.to_s %>","<%= current_user.id.to_s %>","1"); return false;><%= t('add') %></button>
                      <% end %>
                    </div>
                  </small>
                </li>
                  <li>
                  <label><%= t('expiry_date') %> <i><%= t('blank_deadline') %></i></label>
                  <%= f.date_select :expiry_date, :start_year => Time.now.getutc.year, :end_year => Time.now.getutc.year+1, hide_label: true, :include_blank => true, :default => nil %>

                </li>
                <li>
                  <label><%= t('reward_amount') %></label>

                  <%= f.text_field :reward_amount, class: 'field-long', :autocomplete=>"off" %>
                </li>
                <li>
                  <label><%= t('conditions') %></label>
                  <%= f.text_area(:conditions, size: '50x10', class: 'field-long field-textarea') %>
                </li>
              <br>
          <% end %>

          <div class="collapse" id="collapseExample">
            <li class="mt-4">
              <label><%= t('src_claim') %></label>
              <%= f.text_field :src_name, data: {autocomplete_source: srcs_path }, :onchange => "NewMedium('"+config.relative_url_root.to_s+"',1,'src','srcs','sources')", class: 'field-long', :autocomplete=>"off" %>
            </li>
            <div id="src_note"></div>
            <li>
              <label> <%= t('medium_claim') %></label>
              <%= f.text_field :medium_name, data: {autocomplete_source: media_path }, :onchange => "NewMedium('"+config.relative_url_root.to_s+"',1,'medium','media','media')", class: 'field-long', :autocomplete=>"off" %>
            </li>
            <div id="medium_note"></div>
            <li>
              <br>
              <label>
                <%= t('more_notes_claim') %></label>
              <%= f.text_area(:description, size: '50x10', class: 'field-long field-textarea') %>
            </li>
            <li><%= t('assign_existing_tags') %>
              <%= f.select(:tag_ids, options_for_select(Tag.order(Arel.sql('lower(claim_name) ASC')).map{ |t| [t.claim_name, t.id] }),{}, { :multiple => true }) %><br>
              <a href="#new_tags" data-toggle="collapse" style="text-decoration: none">
                <b><%= t('create_more_tags') %></b><span class="glyphicon glyphicon-plus"></span></a>
              <div class="panel-collapse collapse" id="new_tags">
                <%= t('type_new_tags') %>
                <%= f.text_field :tag_list, class: 'field-long', :autocomplete=>"off" %>
                <div id="new_tags_block"></div>
                <%= link_to t('add_tags'), "#add_tags", :onclick => 'submit_tags("'+config.relative_url_root.to_s+'","claim")', :class=>'btn btn btn-primary',:style=>'' %>
              </div>
            </li>
          </div>
          <br>
          <p class="text-center">
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              + <%= t('advanced_options') %>
            </a>
            <%= f.button t('submit'), :class => 'btn btn-primary' %>
          </p>

          </ul>
      </fieldset>
      <% end %>
      <hr>
      <p class="text-center"><i><%= t('or') %></i><br>
      <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample2" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        + <%= t('claim_import') %>
      </a></p>

      <div class="collapse" id="collapseExample2">
        <i><%= t('claim_import_note') %></i><br>
             <br><b><%= t('claim_select_file') %></b><br><br>
            <%= form_for(@claim, url: {action: "create"}, html: {multipart: true}) do |f| %>
                <%= f.file_field :file %><br>
                <%= t('claim_select_url') %> <%= f.text_field :url, :style => "padding: 1px 1px; line-height: 10px; width: 320px" %><br>
                <%= f.check_box :include_review, :checked => true %> <%= t('claim_option_include_review') %> <br>
                <%= f.check_box :overwrite, :checked => true %> <%= t('claim_option_overwrite') %> <br>
                <%= f.submit 'Import', :class => 'btn btn btn-primary', id: "submit", :style => "float: left; padding: 5px 5px 5px 5px; line-height: 15px;" %><br><br>
             <% end %>
      </div>

    </div>
  </div>
</div>
<script>
  $(document).on('ready page:load', function () {
    $('#claim_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>
