
         <!-- Heading -->
<div class="text-center mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h4><%= t('src_r') %></h4>
    <h2 class="text-primary"> <%= link_to @src.name, src_path(@src.id) %></h2>
  </div>
</div>
<!-- Heading -->
<div class="container">
  <div class="row">
    <div class="col-3">
      <%= form_for @src_review, method: :put, url: wizard_path do |f| %>
      <div class="">
        <% 
            passed_step=false
            @all_steps.each do |key,value| %>
        <%= is_visible(key).html_safe %><div class="">
          <% if (step==File.basename(wizard_path(key)))
                    passed_step=true %>
          <div class="no-style"><b><%== value %></b></div>
          <% elsif passed_step %>
          <%= f.submit value, style: '', class: 'no-style' %>
          <% else %>
          <%= f.submit value, style: '', class: 'no-style' %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-9">
    <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
    </div>
    <% end %>
    <fieldset>
      <br><h6><strong><%== t('reviewing_the_src_title') %></strong></h6>
      
          <li><big><b><font color=blue><%== t('src_other_problems_q_long') %></font></b></big><br>
          <br><%= f.radio_button :src_other_problems, '-1', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==-1) %> <%== t('src_other_problems_q_options_yes') %><br><%= f.radio_button :src_other_problems, '1', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==1) %> <%== t('src_other_problems_q_options_no') %><br><%= f.radio_button :src_other_problems, '0', :checked => (!@src_review.src_other_problems.blank? && @src_review.src_other_problems==0) %> <%== t('not_sure') %><br><br><%= f.radio_button :src_other_problems, '', :checked => (@src_review.src_other_problems.blank?) %> <%= t('skip_question') %><br>
          
          <br>
          
          </li>
              
          <li><big><b><font color=blue><%== t('optional_note') %></font></b></big><br>
          <%= f.text_area(:note_src_other_problems, size: '50x10', class: 'field-long field-textarea') %><br>
          
          <br>
          
          </li>
              
      
                        <% if !@first_step.present? or @first_step!=step %>
                            <%= f.submit t('previous_step'), :class => 'btn btn btn-primary' %>
                        <% end %>
                            <%= f.submit t('next_step'), :class => 'btn btn btn-primary' %>
                  
    </fieldset>
    <div style='float:right'><%= link_to t('del_review'), src_src_review_path(@src.id,@src_review), style: '', method: :delete, data: { confirm: t('warning_del') } %></div>
    <% end %>
  </div>
</div>
              