<div class="text-center mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h1><%= t('tools_t') %></h1>
    <p><%= t('tools_d') %></p>
  </div>
</div>

<div class="container">
  <div class="row" style="padding: 30px;">
    <div class="columnl">
      <%= form_tag(resources_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :q, params[:q], class: "form-control" %>&nbsp;
      <%= submit_tag t('search'), name: nil, :class => 'btn btn btn-primary' %>
      <% end %></div>
  </div>
  <!-- <hr> -->
  <% if (@resources.size==0) %>
  <%= t('no_results') %>
  <% else %>
  <div>
    <%= form_tag(resources_path, method: :post) do %>
    <%= hidden_field_tag :resources_json, params[:resources_json], value: @resources_json %>
    <!-- <%= submit_tag t('export')+" "+t('all'), name:nil, :class => 'btn btn btn-primary' %> -->
    <% end %>
  </div>
  <% end %>
  <div class="container">
    <div class="card-columns">
      <% @resources.each do |resource| %>
      <div class="card" style="background-color: #D9FBFB">
        <!-- <img class="card-img-top" src="" alt="Card"> -->
        <div class="card-body">
          <h5><center>
            <% if resource.url.blank? %>
              <a href="<%== resource_path(resource) %>" style="text-decoration:none; color: #696969"><%= resource.name %></a>
            <% else %>
              <a href="<%== resource.url %>" style="text-decoration:none; color: #696969" target=_blank><%= resource.name %></a>
            <% end %>
          </center></h5>
          <p class="card-text">
            <% if !resource.icon.blank? %>
             <div style="text-align: center"><img src='<%= resource.icon %>' width=150></div>
            <% end %>
            <%= resource.description %>
            <% if !resource.url.blank? %>
              <p><center><a href="<%= resource_path(resource) %>"><%= t('resource_about') %></a></center></p>
            <% end %>
            <h4>
              <!-- <% if resource.url_preview.present? %>
            <br><%== resource.url_preview.gsub('\"','"').gsub("\\'", "'") %>
            <% end %> -->

            </h4>
        </div>

        <div class="text-right p-2">
          <%
          @my_entry = Resource.where("id=? and (user_id=? or ?=1)",resource.id,current_user.id,current_user.id).first
          if (not @my_entry.blank?) %>
          <small>
            <%= link_to t('edit'), edit_resource_path(@my_entry) %> |
            <%= link_to t('delete'), resource_path(@my_entry), method: :delete, data: { confirm: t('warning_msg1', type: 'resource') } %>
            <!-- -
            <%= link_to "Export", export_resource_path(resource), method: :post %> -->

          </small>
          <% end %>
        </div>
      </div>


      <% end %>
    </div>
  </div>
  <% if @total_count>10 then %> <%== pagy_bootstrap_nav(@pagy) %> <% end %>
</div>
<div class="container text-left p2">
  <%= link_to t('add')+" "+t('or')+" "+t('import')+" "+t('resource').capitalize, new_resource_path,:class=>'btn btn btn-secondary',:style=>'' %>
</div>
