<p><%= t('hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.account.pw_change_requested') %></p>

<p><%= link_to t('devise.account.change_pw'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.account.pw_change_not_requested') %></p>
<p><%= t('devise.account.pw_change_pending') %></p>
