<div class="form-claim">
  <fieldset>
    <legend>&nbsp;Edit user</legend>
    <%= form_for @user, as: :user, url: admin_user_path(@user), method: :patch, html: { :onsubmit => "do_submit('user')" } do |f| %>
      <% if f.object.errors.any? %>
      <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
      <% end %>
    <ul>
      <li>Name:
      <%= f.text_field :name, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
        Email:
      <%= f.text_field :email, class: 'field-long', :readonly => true  %>
      </li>
      <li>
        Affiliation:
      <%= f.text_field :affiliation, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
        URL:
        <%= f.text_field :email, class: 'field-long', :autocomplete=>"off" %>
      </li>
      <li>
        Role:
          <b>
            <%= f.radio_button :role, 'admin', :checked => @user.role=='admin', :disabled => true %> Admin
            <%= f.radio_button :role, 'client', :checked => @user.role=='client', :disabled => true %> Client
            <%= f.radio_button :role, 'factchecker', :checked => @user.role=='factchecker', :disabled => true %> Factchecker
          </b>
      </li>
      <% if ENV['BLOCKCHAIN_ENABLED'] && @user.blockchain_tx.present?  %>
            <small><a href=javascript:wallet("<%= config.relative_url_root.to_s %>","<%= config.relative_url_root.to_s+"/admin/users/"+@user.id.to_s %>","<%= @user.id.to_s %>","0")>Show wallet balance</a><br>
              <div id="wallet<%= @user.id.to_s %>"></div>
              <div id="hidden<%= @user.id.to_s %>" style="display: none;">
                <% if ENV['BLOCKCHAIN_ENABLED'] && @user.role=="client"  %>
                  Add units to wallet: <input id="addbalance<%= @user.id.to_s %>" type="text" width=3>
                  <button name="walletButton" type="button" value="Add" onclick=wallet("<%= config.relative_url_root.to_s %>","<%= config.relative_url_root.to_s+"/admin/users/"+@user.id.to_s %>","<%= @user.id.to_s %>","1"); return false;>Add</button>
                <% end %>
              </div>
            </small>
        <% end %>
      <li>
      Bio:
      <%= f.text_area(:details, size: '50x10', class: 'field-long field-textarea') %>
      </li>
      <li>
        <%= f.submit t('submit'), :class => 'btn btn btn-primary' %>
      </li>
    </ul>
    <% end %>
  </fieldset>
  <%= link_to t('delete'), admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure? Deleting the user will also delete all content he/she created.' } %> -
  <%= link_to t('go_back'), admin_root_path %>
  </div>
