<div class="container">
  <div class="form-claim">
    <fieldset>
      <legend>&nbsp;<%= t('add_new_user') %></legend>
      <%= form_for @user, as: :user, url: admin_users_path, method: :post, html: { :onsubmit => "do_submit('user')" } do |f| %>
        <% if f.object.errors.any? %>
        <div class="error_messages">
            <% f.object.errors.full_messages.each do |error| %>
              <p><%= error %></p>
            <% end %>
        </div>
        <% end %>
      <ul>
        <li><%= t('devise.account.name') %>:
        <%= f.text_field :name, class: 'field-long', :required=>"true" %>
        </li>
        <li>
          <%= t('devise.account.email') %>:
        <%= f.text_field :email, class: 'field-long', :required=>"true" %>
        </li>
        <li>
          <%= t('devise.account.affiliation') %>:
        <%= f.text_field :affiliation, class: 'field-long', :autocomplete=>"off" %>
        </li>
        <li>
          URL:
          <%= f.text_field :url, class: 'field-long', :autocomplete=>"off" %>
        </li>
        <li>
          <%= t('devise.account.password') %>:
          <%= f.password_field :password, class: 'field-long', :required=>"true" %>
        </li>
        <li>
          <%= t('devise.account.repeat_pw') %>:
          <%= f.password_field :password_confirmation, class: 'field-long', :required=>"true" %>
        </li>
        <li>
          <%= t('devise.account.role') %>:
            <b>
              <%= f.radio_button :role, 'admin'%> Admin
              <%= f.radio_button :role, 'client'%> Client
              <%= f.radio_button :role, 'factchecker', :checked => true %> Factchecker
            </b>
        </li>
        <li>
        Bio:
        <%= f.text_area(:details, size: '50x10', class: 'field-long field-textarea') %>
        </li>
        <% if (ENV['BLOCKCHAIN_ENABLED']) %>
          <li>
            <%= t('add_to_blockhain') %>?
              <b>
                <%= f.radio_button :add_to_blockchain, 'yes', :checked => true %> <%= t('yes_answer') %>
                <%= f.radio_button :add_to_blockchain, 'no' %> <%= t('no_answer') %>
              </b>
          </li>
        <% else %>
              <%= f.hidden_field :add_to_blockchain, :value => "no" %>
        <% end %>
        <li>
          <%= f.submit t('submit'), :class => 'btn btn btn-primary' %>
        </li>
      </ul>
      <% end %>
    </fieldset>
    <%= link_to t('go_back'), admin_root_path %>
    </div>
</div>
